$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

input, button {
  outline:none;
}
button {
  background:lightblue;
}

p {
  padding:0;
  margin:0;
}

//=======================================================================
//                                Login/Signup
//=======================================================================

@-webkit-keyframes expand {
  0% {top:500px;}
  100% {top:0}
}

@-webkit-keyframes slideIn {
  0% {opacity:0;left:200px}
  100% {left:0}
}

.error {

  p {
    color:red;
    border:1px solid #ff2929;
    padding:5px 12px;
    background:rgba(255, 0, 0, 0.31);
    display:inline-block;
    border-radius:5px;
    position:relative;
    -webkit-animation: slideIn .7s ease 1;
  }
}

//=========================================================================
//                           Header
//=========================================================================
@mixin blur($amount) {
    -webkit-filter: blur(#{$amount}px);
    -moz-filter: blur(#{$amount}px);
    -o-filter: blur(#{$amount}px);
    -ms-filter: blur(#{$amount}px);
    filter: blur(#{$amount}px);
    margin-bottom: -#{$amount}px;
}

header {
  height:575px;
  border-bottom:3px solid black;
  padding:5px;
  background:#333;

  h1 {
    font-size:100px;
    font-family: 'Poiret One', cursive;
    font-shadow:0 2px 10px black;
    color:white;
    z-index:3;
    margin-top:200;
    text-align:center;
    position:absolute;
    left:0;
    top:200px;
    right:0;
    text-shadow:0 4px 4px black;
  }

  img {
    padding-bottom:5px;
    z-index:0;
    @include blur(2);
    height:575px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
  }

}

//========================================================================
//                              Chat App
//========================================================================

.chat-container {
  background:#4063AF;
  height:500px;
  width:100%;
  margin:auto;
  position:relative;
  border:1px solid black;

  input {
    width:100%;
    height:41px;
    padding:4px;
    border:solid black;
    border-width:1px 0;
    font-size:16px;
  }

}


.chat {
  width:80%;
  background:#63A3A5;
  height:100%;
  border:black 1px solid;
  float:left;
}

.current-users {
  width:20%;
  height:100%;
  float:left;
  background:grey;
  border:1px solid black;
}

.messages {
  height:92%;
  overflow:scroll;
}

.message {
  border-bottom:1px solid black;
  padding:10px;
  /* -webkit-animation:expand 1s ease; */
  position:relative;
  background:rgba(255,255,255,0.4);
}

.time {
  float:right;
  opacity:.5;
}

.words {
  display:inline-block;
  max-width:80%;
}

.teamOne,
.teamTwo {
  display:inline-block;
}

.teamTwo {
  float:right;
}

.scoreboard {
  height:50px;
  width:80px;
  background:black;
  border:2px solid white;
  border-radius:3px;
  display:inline-block;
  vertical-align:middle;
  color:white;
  text-align:center;
  padding-top:5px;
  font-size:28px;
}

//=============================================================================
//                                    Index
//=============================================================================

h2 {
  font-size:32px;
  color:white;
  background:linear-gradient(black,#1F2429);
  text-shadow:0 1px 3px grey;
  text-align:center;
  margin:0;
  padding:100px 0 50px 0;
}

.container {
  background:#1F242A;
  padding:20px;
  margin:0 auto;
  display:inline-block;
  width:100%;
  text-align:center;
  font-size:20px;
}


.game-container {
  background:#006500;
  font-family:sans-serif;
  color: white;
  padding:16px;
  width:373px;
  height:190px;
  float:left;
  margin:0px 30px 20px 0;
  border-radius:8px;
  border:1px solid white;
  overflow:hidden;
  box-shadow:0 2px 15px grey;

  .game-time {
    margin-top:10px;
    float:left;
    font-size:18px;
    color:#000;
  }

  img {
    float:left;
    height:50px;
    width:50px;
  }

  p {
    padding-top:4px;
    position:relative;
    right:14px;
    color: white;
  }
}

.team-holder {
  width:100%;
  height:50px;
  display:inline-block;
  @include clearfix;
}

.team-name {
  font-weight:bold;
  position:relative;
  top:8px;
}

.index-scoreboard {
  float:right;
  height:60px;
  width:90px;
  background:black;
  border:2px solid white;
  border-radius:3px;
  display:inline-block;
  vertical-align:middle;
  color:white;
  text-align:center;
  padding-top:7px;
  font-size:28px;
  @include clearfix;
}

.logout {
  text-align:center;
  margin:20px auto;
  padding:6px 11px;
  background:#569BF6;
  display:inline-block;
  border-radius:0;
  border:1px solid #226AC8;
  box-shadow:inset 0 -1px 2px #0d56b5;
  cursor:pointer;
  transition:border-radius .1s linear;

  &:hover {
    border-radius:5px;
  }

  &:active {
    box-shadow:inset 0 2px 4px #377cd7;
  }
}

.inner-container {
  //To be removed after presentation!!
  padding-left:30px;
  //To be removed after presentation!!
  display:inline-block;
  margin:0 auto;
  text-align:center;
}
